*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    width: 375px;
}
.myCard{
    position: relative;
    background-color: #fff;
    padding-bottom: 90px;
    margin-bottom: 90px;
}

.mycard1{
    background: rgba(106, 224, 217, 0.49);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    opacity: 50%;
    top: -100px;
    left: -10px;

}
.mycard2{
    background: rgba(106, 224, 217, 0.49);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 50%;
    position: absolute;
    top: -20px;
    left: -90px;
    
}
.img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
}

h1{
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
    margin-top: 30px;
    margin-bottom: 35px;
    font-weight: 600;
}
p{
    font-size: 13px;
    text-align: center;
    color: rgba(0, 0, 0, 0.74);
    width: 281px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

    margin: 0 auto;
    
}
button{
    padding: 10px 100px;
    background: #50C2C9;
    border: none;
    align-items: center;
    text-align: center;
    color: #fff;
    

    display: flex;
    justify-content: center;
    margin: 0 auto;

}